# ========================
# Visual Studio / C++
# ========================

# Папки, генерируемые пользователем и IDE
.vs/
*.suo
*.user

# Папки со сборками
build/
bin/
obj/
x64/
x86/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Исполняемые файлы и библиотеки
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.obj

# Другие временные файлы
*.tlog
*.lastbuildstate
*.idb

# ========================
# CMake
# ========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json