
.vs/
*.suo
*.user


build/
bin/
obj/
x64/
x86/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/


*.exe
*.dll
*.lib
*.ilk
*.pdb
*.obj

# Другие временные файлы
*.tlog
*.lastbuildstate
*.idb

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
